
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom,#590000,#010000,#5A0000);
}
main{
    width:60%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    height:100%;
}
main header{
    /*height:20%;*/
    flex-basis:20%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #F50003;
}

h1{
    text-align: center;
    font-size: 50px;
    color: white;
}
main nav {
    /*height:4%;*/
    flex-basis:4%;
    width:100%;
    display: flex;
    align-items: center;
}
main nav ul{
    height:100%;
    font-size: 18px;
    list-style: none;
    display: flex;
    align-items: center;
}
main nav ul li{
    padding-right: 27px;
    color:white;
    padding-left: 30px;
    border-right: 1px solid white;
}
main nav ul .contact{
    border: none;
}
main .main-container{
    /*height:70%;*/
    width:100%;
    flex-basis:70%;
    padding: 8px;
    border-radius: 10px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
}
main footer{
    border-radius: 10px;
    width:100%;
    /*height:6%;*/
    flex-basis:6%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom,#820000,#010000);
    color:white
}
main footer ul{
    height:100%;
    list-style: none;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 10px;
    /* gap:15px; */
}
main footer ul li{
    padding-right: 15px;
    color:white;
    font-size:16px;
    padding-left: 15px;
    border-right: 1px solid white;
}
main footer ul .contact{
    border:none;
}
.main-container aside{
    display: flex;
    flex-direction: column;
    height:100%;
    /* gap:5px; 
    width: 25%;*/
    flex-basis:25%;
    
}
.main-container aside .categories{
    background-color: #FFFFFF;
    margin: 5px;
    flex-basis:63%;
    flex-wrap:wrap;
    margin-bottom: 15px;
    border-radius: 10px;
     
}
.main-container aside .categories h2{
    
    background-color: #3B3B3B;
    padding: 5px;
    padding-left: 15px;
    font-size:35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main-container aside .categories ul{
    list-style: none;
    color:black;
    margin: 10px;
}
.main-container aside .categories ul li{
    padding:10px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgb(123, 122, 122);
    
}
.main-container aside .categories ul li a{
    margin-left: -3rem;
    color:black
}
.main-container aside .recentUpdate{
    flex-basis:37%;
    flex-wrap:wrap;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    
}
.main-container aside .recentUpdate h2{
    
    background-color: #3B3B3B;
    font-size:35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;   
    padding-left: 15px;
}
.main-container aside .recentUpdate p{
    width:75%;
    font-size: 18px;
    word-wrap: break-word;  
    margin-left: 15px ;
    margin-right:10px;
    margin-top: 10px;
    text-align: justify;
    overflow-wrap: break-word;
}
.main-container aside .recentUpdate  .recent-p{    
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container aside .recentUpdate p span{
    font-weight: bold;
    color :black
}
.main-container aside .recentUpdate p a{
    color:#C381F7
}
.container{
    margin:5px;
    height: 90%;
    padding-top: 10px;
    flex-basis:75%;
    flex-wrap:wrap;
    background-color: #636363;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    
}
.container .first{
  margin-top: 15px;
  flex-basis:41%;
  flex-wrap:wrap;
  display:flex;
  flex-direction:column;
}
 .head{
    margin-right: 4px;
    /* width:100%; */
    height:35px;
    background-color: #9E9E9E;
    
}
.span{
    margin-left:40px;
    /*height:28px;*/
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 15px;
     background-color: #636363;
}
.About-p{
    font-size: 18px;
    margin-left: 50px;
    color:#AFAFAF;
    margin-top:20px ;
}
.container .first ul{
    margin-left: 65px;
    margin-top: 20px;
    
 
}
.container .first ul li{
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
}
.white{
    font-weight: bold;
    color: white;
}
.blue{
    color:#2A93BE
}
.container #second{
    display: flex;
    flex-direction:row;
    margin-top:10px;
    flex-basis:43%;
}
#second article{
    flex-basis:50%;
}

#second .about{
    border-right: 1px dashed white;
    padding-right: 5px;
    margin-right: 5px;padding-top: 10px;
    position: relative;
}
#second .recent{
    margin-left:5px;
    padding-top: 10px;
    position: relative;
}
#second  article .readme{
    position: absolute;
    right:3px;
    font-size: 18px;
    margin-right: 15px;
    margin-top: 8px;
    color:white
}
.recent p{
   margin-right:10px;
}

.violet{
    color: #FFB8CA;
}
footer p{
    font-size: 16px;
    margin-left: -10px;
}
footer ul .home{
    margin-left: 0px;
}
footer p a{
    color:#2679DE
}
